#container {
    width: 100%;
    padding: 40px;
}



#title {
    position: relative;
    font-size: 62px;
    font-style: italic;
    background: linear-gradient(45deg,#47DCD3, #02eaa8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 550px;
}