#container {
    width: 100%;
    padding: 40px;

}



#title {
    position: relative;
    font-size: 62px;
    font-style: italic;
    background: linear-gradient(45deg,#4771DC, #621080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}