.sidemenu-enter {
  opacity: 0;
  left: 40px;
  width: 60px;
  height: 60px;
  top: 20px;
}

.sidemenu-enter-active {
  opacity: 0.5;
  padding: 20px;
  height: 800px;
  width: 100px;
  top: 10px;
  left: 20px;
  transition: 0.3s ease-in-out;
}

.sidemenu-enter-done {
  opacity: 1;
  padding: 20px;
  height: 800px;
  top: 10px;
  left: 20px;
  width: 100px;
}

.sidemenu-exit {
  opacity: 1;
  padding: 20px;
  height: 800px;
  top: 10px;
  left: 20px;
  width: 100px;
}

.sidemenu-exit-active {
  opacity: 0.5;
  width: 60px;
  height: 60px;
  top:  20px;
  left: 40px;
  transition: 0.3s ease-in-out;
}

.sidemenu-done-exit {
  opacity: 0;
  left: 40px;
  width: 60px;
  height: 60px;
  top: 20px;
}
